<app-post></app-post>
<app-post></app-post>
<app-post2></app-post2>
<app-post3></app-post3>
<app-post4></app-post4>

<p>{{ titleDynamic }}</p>
<p><strong>{{ numberText - 2 }}</strong></p>
<p><strong>{{ arr }}</strong></p>
<p><strong>{{ obj }}</strong></p>
<p><strong>{{ obj.a }}</strong></p>


<input
  type="text"
  (keyup)="onInput($event)"
  (blur)="onBlur(myElement.value)"
  #myElement
>
<p>{{ inputValue }}</p>



<!--<img [src]="img" alt="">-->

<hr>

<input type="text" [value]="inputText" (keyup)="onInputText($event)">
<p>{{ inputText }}</p>


<hr>

<input type="text" [(ngModel)]="inputText2">
<p>{{ inputText2 }}</p>




