<div class="container">
  <h1>Angular directives</h1>

  <p appStyle="green" fontWeight="bold" [dStyle]="{border: '1px solid #c00', borderRadius: '5px'}">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, voluptatem!
  </p>

  <p appStyle="blue" fontWeight="bold" [dStyle]="{border: '1px solid green', borderRadius: '15px'}">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, voluptatem!
  </p>

<!--  <h2>Subheader</h2>-->

<!--  <app-post-form (onAdd)="updatePost($event)"></app-post-form>-->
<!--  <hr>-->
<!--  <app-post-->
<!--    *ngFor="let p of posts"-->
<!--    [post]="p"-->
<!--    (onRemove)="removePost($event)"-->
<!--  >-->
<!--    <div #info>-->
<!--      <small *ngIf="p.text.length > 14; else short">Пост длинный</small>-->
<!--        <ng-template #short>-->
<!--          <small>Пост короткий</small>-->
<!--        </ng-template>-->
<!--    </div>-->
<!--  </app-post>-->


</div>
