<app-post></app-post>
<app-post></app-post>
<app-post2></app-post2>
<app-post3></app-post3>
<app-post4></app-post4>

<p>{{ titleDynamic }}</p>
<p><strong>{{ numberText - 2 }}</strong></p>
<p><strong>{{ arr }}</strong></p>
<p><strong>{{ obj }}</strong></p>
<p><strong>{{ obj.a }}</strong></p>


<input
  type="text"
  (keyup)="onInput($event)"
  (blur)="onBlur(myElement.value)"
  #myElement
>
<p>{{ inputValue }}</p>



<!--<img [src]="img" alt="">-->

<hr>

<input type="text" [value]="inputText" (keyup)="onInputText($event)">
<p>{{ inputText }}</p>


<hr>

<input type="text" [(ngModel)]="inputText2">
<p>{{ inputText2 }}</p>


<hr>

<button (click)="backgroundColor = !backgroundColor">Toggle</button>
<div [ngStyle]="{
  width: '200px',
  height: '200px',
  borderRadius: '25px',
  border: '1px solid #ccc',
  backgroundColor: backgroundColor ? '#c00' : '#0c0'
}"></div>

<hr>

<p [ngClass]="{
  blue: !backgroundColor,
  green: backgroundColor
}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, cupiditate!</p>


<div
  [class.blue]="!backgroundColor"
  [class.green]="backgroundColor"
>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, consequuntur?
</div>

<hr>

<button (click)="toggle = !toggle">
  toggle
</button>

<p *ngIf="toggle; else blueP" class="green">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, nesciunt?</p>

<ng-template #blueP>
  <p *ngIf="!toggle" class="blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, nesciunt?</p>
</ng-template>


<!--<p *ngIf="!toggle" class="blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, nesciunt?</p>-->


<hr>

<button (click)="toggle = !toggle">toggle</button>
<button (click)="toggle = 111">Set 111</button>

<div [ngSwitch]="toggle">
  <p *ngSwitchCase="true" class="green">Lorem ipsum dolor sit.</p>
  <p *ngSwitchCase="false" class="blue">Lorem ipsum dolor sit. blue</p>
  <p *ngSwitchDefault>Lorem ipsum dolor.</p>
</div>
